<div class="grid mt-8 ml-4">
    <div class="w-full">
        <div class="grid mt-2">

            <div class="w-6">
                <div class="w-full ">
                    <p-fieldset legend="Daily Business overview" [toggleable]="true">
                        <app-daily-overview></app-daily-overview>  
                    </p-fieldset>
                    
                </div>
          
        </div>


            <div class="w-6">
                    <div class="w-full">
                        <p-fieldset legend="Record Completed Jobs" [toggleable]="true">
                                <app-business-record></app-business-record>
                        </p-fieldset>
                    </div>
               
            </div>
    
          
        
            <!-- <div class="w-6">
                <app-manual-business-record-modal></app-manual-business-record-modal>
           </div> -->

            
        
            
        
           
        </div>

        

        <div class="grid mt-2">
            
    
  
        
                   
        
                    <div class="w-6 ">
                        <p-fieldset legend="Manage Customers" [toggleable]="true">
                            <app-customers></app-customers>
                            </p-fieldset>
                            </div>
        
                            <div class="w-6 ">
                                <p-fieldset legend="Manage Stylists" [toggleable]="true">
                                    <app-stylists></app-stylists>
                                    </p-fieldset>
                                    </div>
        
                            
                          
                           
        </div>
        
        
    </div>
</div>