<div class="grid ">
    
    <p-card>
        <div class="col-12">



           <div class="grid">
            <div class="col-6 ">

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <label for="stylists">Stylist</label>
                        <p-dropdown inputId="stylists"  [options]="stylists" [(ngModel)]="selectedStylist" placeHolder="Stylist" optionLabel="flname" ></p-dropdown>    
                         
                    </div>
                  
                    <div class="p-field p-col-12 p-md-6 mt-2">
                        <label for="customers">Customer</label>
                        <p-dropdown inputId="customers" [options]="customers" [(ngModel)]="selectedCustomer" placeHolder="Customer" optionLabel="flname" ></p-dropdown>    
                            
                    </div>
                   
                </div>

              
                  

            </div>
           
            <div class="col-6 ">

                <div class="p-fluid p-formgrid p-grid">
                
                
                    <div class="p-field p-col-12 p-md-6">
                        <label for="services">Service Type</label>   
                        <p-dropdown  inputId="services" [options]="services" [(ngModel)]="selectedService" placeHolder="Service" optionLabel="id" ></p-dropdown>    
                       
                    </div>
                    <div class="p-field p-col-12 p-md-6 mt-2">
                    <label for="amount">Amount</label>
                    <p-inputNumber inputId="amount" [(ngModel)]="amount" mode="decimal" locale="en-LK" placeholder="Amount"></p-inputNumber>        
                   
                </div>

              
                </div>
               
               
               
            </div>
            <div class="col-12 mt-2">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <p-button pRipple label="Save" (click)="saveInvoice()" class="p-button-rounded" icon="pi pi-check-circle" iconPos="right" ></p-button>   
                    </div>
                </div>
            </div>
           </div>
            
              
           

            <div class="grid ml-1">
                <div class="col-12">
                    <div class="col-4 col-offset-5">
                        <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
                        <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
                        <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>    
                    </div>
                </div>
                <div class="col-12">
                    <p-progressSpinner *ngIf="!data_loaded">loading...</p-progressSpinner>
                    <div *ngIf="data_loaded" class="col-12 ">
                        
                            <p-table  [value]="invoices" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Customer</th>
                                    <th>Stylist</th>
                                    <th>Amount</th>
                                    <th>Service</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <p-confirmPopup></p-confirmPopup>
                            <ng-template pTemplate="body" let-invoice let-rowIndex>
                                <tr>
                                    <td>{{invoice.customer}}</td>
                                    <td>{{invoice.stylist}}</td>
                                    <td>{{invoice.amount}}</td>
                                    <td>{{invoice.serviceType}}</td>
                                    <td>
                                        
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="removeRecord($event,rowIndex)"></button>
                                        
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                      
                    </div>
                </div>
                
                
            </div>
        </div>
    </p-card>
</div>