<div *ngIf="isAuthenticatedB" class="fixed  w-12 m-0 w-0">
    <div class="flex  top-0 w-12">
        <div class="flex-grow bg-blue-200 w-12 h-3rem" >
           
            <div class="top-0 bg-blue-500 text-white w-12 h-auto">
                <p-menubar [model]="items">
                    <img src="../../assets/logo.jpeg" height="40" class="p-mr-2">
                </p-menubar>
            </div>
        </div>
      
    </div>
</div>

<div *ngIf="isAuthenticatedB" class="fixed bottom-0 w-12 m-0 w-0">
    <div class="flex  bottom-0 w-12">
        <div class="flex-grow bg-blue-200 w-12 h-3rem" >
            <div class="bottom-0 bg-blue-500 text-white w-12 h-auto">
                <p-breadcrumb [model]="breadcumbitems" [home]="breadcumbhome"></p-breadcrumb>
            </div>
        </div>
      
    </div>
</div>